<tr>
  <td><%= animal.name %></td>
  <td><%= animal.color %></td>
  <td><%= animal.description %></td>
  <td><%= animal.seen_at %></td>
  <td><%= link_to 'Show', animal %></td>
  <td><%= link_to 'Edit', edit_animal_path(animal) %></td>
  <td><%= link_to 'Destroy', animal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>